<div id="sidebar" class="tm-sidebar-left uk-background-default">
    <div class="user">
        <div class="uk-margin-top"></div>
        <h3>
            <strong>
                LOGO EBS
            </strong>
        </h3>
    </div>
    <ul class="uk-nav uk-nav-default">
        <hr class="uk-divider-icon">
        <li style="text-align: center;">
            <a routerLink='/usuarios' >
                <i class="fas fa-users"></i>
                <strong> Usuarios</strong>
            </a>
        </li>
        <hr class="uk-divider-icon">
        <li style="text-align: center;">
            <a routerLink="noticias"><i class="fas fa-car-crash"></i><b> Noticias</b></a>
        </li>

        <hr class="uk-divider-icon">
        <li style="text-align: center;">
            <a routerLink="/perfil">
                <i class="fas fa-users"></i>
                <strong> Perfil</strong>
            </a>
        </li>
    </ul>
</div>